In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv('K_Means.csv')

In [4]:
dataset

   Index  CustId Gender  Age  Income  Spending Score
0      1     100      M   20   15000            2000
1      2     101      F   23   20000            3000
2      3     102      M   34   22000            2500
3      4     103      M   32   17000            2000
4      5     104      F   25   23000            3000
5      6     105      F   35   30000            3500
6      7     106      M   19   35000            4000
7      8     107      F   27   19000            1700
8      9     108      M   28   28000            2200
9     10     109      F   33   32000            4000

In [5]:
dataset=dataset.drop('Gender',axis=1)

In [6]:
x=dataset.iloc[3:5].values

In [7]:
from sklearn.cluster import KMeans

In [8]:
wcss_list=[]

In [9]:

    model=KMeans(n_clusters=2,init='k-means++',random_state=42)
    model.fit(x)

KMeans(n_clusters=2, random_state=42)

In [11]:
wcss_list.append(model.inertia_)

In [12]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot()