In [10]:
import pandas as pd

In [11]:
data=pd.read_csv("Practical.csv")

In [13]:
data

   Roll No    Name  Subject1  Subject2  Subject3  Total
0        1     Ram        78        87        98    263
1        2   Shyam        67        76        77    220
2        3  Harish        88        76        65    229
3        4   Mohan        67        89        77    233
4        5  Mukesh        65        78        68    211
5        6  Bharat        67        55        45    167
6        7   Akhil        48        78        67    193
7        8    Raju        59        77        76    212
8        9  Sanjay        78        89        87    254
9       10  Govind        88        77        92    257

In [22]:
X = data.iloc[:, :-1].values
y = data.iloc[:, 5].values
y

array([263, 220, 229, 233, 211, 167, 193, 212, 254, 257], dtype=int64)

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [25]:
X_train

array([[4, 'Mohan', 67, 89, 77],
       [6, 'Bharat', 67, 55, 45],
       [10, 'Govind', 88, 77, 92],
       [8, 'Raju', 59, 77, 76],
       [7, 'Akhil', 48, 78, 67],
       [9, 'Sanjay', 78, 89, 87],
       [5, 'Mukesh', 65, 78, 68],
       [1, 'Ram', 78, 87, 98]], dtype=object)

In [27]:
X_test

array([[2, 'Shyam', 67, 76, 77],
       [3, 'Harish', 88, 76, 65]], dtype=object)

In [28]:
y_train

array([233, 167, 257, 212, 193, 254, 211, 263], dtype=int64)

In [29]:
y_test

array([220, 229], dtype=int64)